<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="D:/Selenium Project/E2EFramwork">
        <classes>
            <class name="org.selenium.aj34.amazonTest"/>
        </classes>
    </test>
</suite>